$font-size: 3rem;

main {
  font-size: $font-size;
  display: flex;
  flex-direction: column;
}

h2 {
  color: red;
}

.calendarBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.calendarTile {
  outline: 2px black inset;
  width: 128px;
}
