$font-size: 3rem;

main {
  font-size: $font-size;
  display: flex;
  flex-direction: row;
}

h2 {
  color: red;
}

.calendarGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.calendarTile {
  outline: 2px black inset;
  width: 128px;
  font-size: 0.7em;
}
.calendarTile:focus {
  color: brown;
}

.todoItem {
  background-color: orange;
  padding: 1em;
}

.modal {
  background-color: antiquewhite;
  padding: 2em;
}

