@import "../sassVariables";

.calendar-grid {

  box-shadow: $frame-box-shadow;
  border-radius: 
    $frame-border-radius $frame-border-radius 
    0                    0;
  overflow: hidden;
  &__days-label {
    background-color: $accent-color;
    color: $accent-text-color;
    text-align: center;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(7, 1fr);
    height: 4em;
  }
  &__tiles-collection {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    min-height: 100vh;
  }
}
