
.calendar-tile {
  background-color: aliceblue;
  border: outset 1px;
  min-height: 100%;
  min-width: 100%;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__todo-list {
    // height: 80%;
    // margin-bottom: 5%;
  }

  &__bottom-panel {
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
  }
  &__rest-indicator {
    font-style: italic;
  }
  &__date-label {

  }
}




$month-colors: (
  #cc6698, // Jan 
  #0869ad, // Feb
  #ff8300, // Mar
  #7A86b8, // Apr
  #71bf45, // May
  #f05133, // Jun
  #2aa9e0, // Jul
  #71bf45, // Aug
  #ef0e39, // Sep
  #9e79d7, // Oct
  #2aa9e0, // Nov
  #ef0e39, // Dec
  // 12 colors for each month
);
@for $i from 1 through 12 {
  $month-color: nth($month-colors, $i);
  .calendar-tile--month-theme-#{$i} { 
      
    .calendar-tile__bottom-panel {
        background-color: rgba($month-color, 0.3);
      }
    }
}