
.calendar-box {
  &__tool-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__tool-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__menu-btn {
    padding: 2em;
    height: 2em;
  }
  &__content {
  }
}