@import "../sassVariables";

.todo-list {
  padding: 5%;
  height: fit-content;
  &__list-item {
    margin-bottom: 0.5em;
    width: 100%;
    &--selected {
      color: $accent-text-color;
      filter: grayscale(100%) drop-shadow(0 0 2px $accent-color);
    }
  }
}