
@use "sass:list";
@import "../sassVariables";


.todo-item {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  
  &__text-content {
    font-size: 1em;
    hyphens: auto;
    margin: 0.10em 0.25em 0.25em 0.25em;
  }

  &__top-panel {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__time-display {
    padding: 0 0.25em;
    font-weight: 800;
  }

  &__btn-group {
    align-self: flex-end;
    display: flex;
    flex-direction: row;    
    align-items: flex-start;
  }

  &__btn {
    @include btn-preset;
    padding: 0;
    margin: 0;
    font-size: 1.25em;
    border: 2px solid transparent;
    border-radius: 0 0 0.5em 0.5em;
    cursor: pointer;
    width: 2em;
  }
}


$time-colors: (
  #485665, // 0:00-1:59
  #E87EA1, // 2:00-3:59
  #F3D34A, // 6:00-7:59
  #ff8300, // 8:00-9:59
  #E71D36, // 10:00-11:59
  #f05133, // 12:00-13:59
  #71bf45, // 14:00-15:59
  #E40066, // 12:00-13:59
  #2aa9e0, // 16:00-17:59
  #9e79d7, // 18:00-19:59
  #345995, // 20:00-21:59
  #596F62, // 22:00-23:59
  // 12 colors for each hour-block
);

@for $i from 1 through 12 {
  @for $j from $i through 12 {
    $start-color: nth($time-colors, $i);
    $end-color: nth($time-colors, $j);

    .todo-item--time-theme-#{$i}-#{$j} { 
      background: linear-gradient(to bottom right, rgba($start-color, 0.40), rgba($end-color, 0.40));
      box-shadow: 
        -1px -1px 5px $start-color,
        1px 1px 5px $end-color;
    }
  }
}