// @import '.../_sassVariables';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(black, 0.35);

  &__window {
    margin: 5vh;
    display: block;
    z-index: 333;
  }

}
